@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.calculator {
	width:253px;
	height:448px;
	padding:91px 20px 91px 24px;
	margin: 30px auto;
	background: url(../img/iphone.png);
	font-family: 'Open Sans Condensed', sans-serif;
}

.display {
	height: 135px;
	width: 238px;
	background-color: #000;
	display: block;
	border: none;
	padding:0 15px 0 0;
	color: #fff;
	font-size: 40px;
	text-align: right;
	outline: none

}

.digits {
	float:left;
	width: 189px;
}

.digits a, .operators a {
	width: 32px;
	height: 32px;
	padding: 15px;
	float:left;
	background: #ccc;
	text-align: center;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 25px;
	cursor:pointer;


}

.digits a:nth-child(11) {
	width:95px;
}

.operators {
	float: left;
	width: 64px;
}

.operators a {
	background: #f69312;
	color: #fff;
	width:33px;

}

.red {
	background: red !important;
}

.selected_operator {
	background: #D27E10 !important;
}

body {
	background: url(../img/space-bg.jpg) center top no-repeat;
	background-size: cover;
}